<div class="events-page-container">
  <header class="events-header">
    <h1>Events at Our Venue</h1>
    <button class="cta-button" routerLink="/contact">Plan Your Event</button>
  </header>

  <section class="events-list">
    <article class="event">
      <img class="event-image" src="/assets/wedding.png" alt="Wedding Event">
      <div class="event-info">
        <h2>Weddings</h2>
        <p>Create the wedding of your dreams with our enchanting venues...</p>
      </div>
    </article>

    <article class="event">
      <img class="event-image" src="/assets/party1.png" alt="Party Event">
      <div class="event-info">
        <h2>Parties</h2>
        <p>Celebrate life's milestones with a party that everyone will remember...</p>
      </div>
    </article>

    <article class="event">
      <img class="event-image" src="/assets/party2.png" alt="Party Event">
      <div class="event-info">
        <h2>Small group Parties</h2>
        <p>Celebrate life's milestones with a party that everyone will remember...</p>
      </div>
    </article>

    <article class="event">
      <img class="event-image" src="/assets/seminar.png" alt="Party Event">
      <div class="event-info">
        <h2>Seminar</h2>
        <p>Celebrate life's milestones with a party that everyone will remember...</p>
      </div>
    </article>
    <!-- More events here -->
  </section>
</div>

