<div class="events-page-container">
  <header class="events-header">
    <button class="cta-button" routerLink="/contact">Plan Your Event</button>
  </header>

  <section class="events-list">
    <article class="event">
      <img class="event-image" src="/assets/wedding.png" alt="Wedding Event">
      <div class="event-info">
        <h2>Wedding</h2>
        <p>Say 'I do' in the splendor of our grand ballroom, where every detail is tailored for your perfect day.</p>
      </div>
    </article>

    <article class="event">
      <img class="event-image" src="/assets/party1.png" alt="Party Event">
      <div class="event-info">
        <h2>Party</h2>
        <p>Dazzle your guests with a glamorous party in a venue designed to deliver unforgettable evenings</p>
      </div>
    </article>

    <article class="event">
      <img class="event-image" src="/assets/party2.png" alt="Party Event">
      <div class="event-info">
        <h2>Small Group Party</h2>
        <p> Enjoy  intimate celebrations in our cozy spaces,  perfect for creating memories with close friends and family.</p>
      </div>
    </article>

    <article class="event">
      <img class="event-image" src="/assets/seminar.png" alt="Party Event">
      <div class="event-info">
        <h2>Seminar</h2>
        <p>Engage and inspire with our state-of-the-art seminar rooms, where learning and collaboration take center stage.</p>
      </div>
    </article>
    <!-- More events here -->
  </section>
</div>

