.events-page-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
}

.events-header {
  text-align: center;
  margin-bottom: 30px;
}

.events-header h1 {
  font-size: 2.5rem;
  color: #333;
}

.cta-button {
  padding: 10px 20px;
  background-color: #003300;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.cta-button:hover {
  background-color:  #ff9900;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.event {
  width: calc((100% - 60px) / 4); /* Adjust the number based on your gap and the number of items per row */
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px; /* Optional, if you want to maintain vertical gap */
}

/* Apply styles to the images with the 'event-image' class */
.event-image {
  width: 100%; /* This will make the image responsive to the container's width */
  height: 300px; /* This will maintain the aspect ratio */
  object-fit: cover; /* This will cover the area of the box without stretching the image */
  border-radius: 5px; /* optional, for rounded corners */
}

.event-info {
  padding: 15px;
  text-align: center;
}

.event-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.event-info p {
  font-size: 1rem;
  color: #666;
}
