<!--for user login// u-login.component.html-->
<div class="login-container">
  <h1>Log in</h1>
  <form (ngSubmit)="onLogin()">
    <!-- 이메일 입력 필드 -->
    <div class="form-group">
      <label for="email">User Email :</label>
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="loginData.email" placeholder="Enter your email" required autocomplete="email">
    </div>

    <!-- 비밀번호 입력 필드 -->
    <div class="form-group">
      <label for="password">Password :</label>
      <!--<input type="password" id="password" name="password" class="form-control" [(ngModel)]="loginData.password" required autocomplete="current-password">-->
      <input type="password" id="password" name="password" autocomplete="current-password" required class="form-control" [(ngModel)]="loginData.password" placeholder="Enter your password">

    </div>

    <!-- 로그인 버튼 -->
    <button type="submit" class="btn-login">Log in</button>
  </form>
</div>

