<!-- admin-login.component.html -->
<div class="login-container">
    <h1>Admin Login</h1>
    <form (ngSubmit)="onALogin()">
        <div class="form-group">
            <label for="adminId">Admin ID:</label>
            <input type="text" id="adminId" class="form-control" [(ngModel)]="loginData.adminId" placeholder="Enter admin ID" name="adminId" required>
        </div>
        <div class="form-group">
            <label for="adminPassword">Password:</label>
            <input type="password" id="adminPassword" class="form-control" [(ngModel)]="loginData.adminPassword" placeholder="Enter admin password" name="adminPassword" required>
        </div>
        <button type="submit" class="btn-login">Login</button>
    </form>
</div>


