.carousel-item img {
  max-height: 400px; /* or any other value you prefer */
  object-fit: cover;
  width: 100%; /* ensure it's responsive */
}

/* Your other styles */
.container {
  max-width: 1000px;
  margin: auto;
}

.carousel-indicators li {
  background-color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
