.carousel-item img {
  height: 65vh; /* Adjust height as needed */
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.carousel-indicators li {
  background-color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
