/* src/app/app.component.css   */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FFFFF0; /* 진한 상아색 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 90px; /* Adjust the size as needed */
  transition: transform 0.3s ease; /* Smooth transition for other transformations */
  display: inline-block; /* Allows transformation */
}

.logo img:hover {
  animation: pulse 1s; /* Apply the pulse animation when hovering */
  animation-iteration-count: 1; /* The animation will play only once */
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Space between navigation items */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.navigation {
  display: flex; /* flexbox 레이아웃을 활성화 */
  justify-content: center; /* 가로 축에서 중앙 정렬 */
  list-style-type: none; /* 글머리 기호 제거 */
  padding: 0; /* 기본 패딩 제거 */
}

.navigation li {
  margin-right: 20px; /* 항목들 사이의 간격을 조정 */
  /* display: inline-block; 는 더이상 필요하지 않음 */
}

.navigation a {
  text-decoration: none;
  color: #003300;
  font-weight: bold;
  font-size: 1.7rem; /* 글씨 크기 */
  padding: 5px 15px; /* 링크 주위의 패딩으로 간격을 조정 */
}

.navigation a:hover {
  color: #ff9900; /* Highlight color on hover */
}

.header-right .admin-button {
  padding: 10px 20px;
  background-color: #003300;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header-right .admin-button:hover {
  background-color: #ff9900;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navigation ul {
    flex-direction:column;
    align-items: center;
  }

  .header {
    flex-direction: row;
  }

  .logo img {
    margin-bottom: 10px; /* Add space between logo and navigation on small screens */
  }
}

/* Additional media query to handle larger screens */
@media (min-width: 769px) {
  .navigation ul {
    flex-direction: row; /* Ensure navigation is in a row */
    justify-content: center; /* Center the navigation items */
  }

  .navigation li {
    margin-right: 20px; /* Space between navigation items */
  }

  .navigation li:last-child {
    margin-right: 0; /* Ensure the last item doesn't have extra space */
  }
}

main {
  background-image: url("/assets/main1.png"); /* Add this line to set the background image */
  background-size: cover; /* Ensure the image covers the entire main area */
  background-position: center; /* Center the image in the main area */
  background-repeat: no-repeat; /* Do not repeat the image */
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Adjust the height as necessary */
  background: url("/assets/main1.png") no-repeat center center;
  background-size: cover;
  text-align: center;
  position: relative;
}

/* Overlay for better readability */
.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the color and opacity as needed */
  z-index: 0;
}

/* Text styles for better visibility */
.hero h1 {
  font-size: 2.5rem; /* Adjust the size as needed */
  color: #fff;
  font-weight: bold;
  z-index: 1;
}

.hero p {
  font-size: 1rem; /* Adjust the size as needed */
  color: #fff;
  margin-bottom: 2rem;
  z-index: 1;
}

/* Button styling */
.btn-primary {
  background-color: #ff9900; /* This is just an example; choose a color that fits your theme */
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #FFFFF0;
}

/* Ensure that other elements are layered above the overlay */
.hero * {
  position: relative;
}


/* Introduction Section Enhancements */
.introduction {
  color: #333; /* Darker font color for contrast */
  padding: 4rem 0; /* More vertical padding */
  text-align: center; /* Center align the text */
}

.introduction h2 {
  font-size: 2rem; /* Larger font size for heading */
  font-weight: bold; /* Bolder font weight for heading */
  margin-bottom: 1rem; /* Space below the heading */
}

.introduction p {
  font-size: 1rem; /* Comfortable font size for paragraph */
  margin-bottom: 2rem; /* Space above the call-to-action */
}

/* Footer Enhancements */
.footer {
  background-color: #f9f9f9; /* Light background for the footer */
  color: #333; /* Dark text for visibility */
  font-size: 0.875rem; /* Adjust font size as needed */
  text-align: center; /* Center the text */
  padding: 2rem 0; /* Add padding above and below the text */
  border-top: 1px solid #e1e1e1; /* Light grey border on top */
}

/* Style for the footer credits specifically */
.footer-credits {
  opacity: 1; /* Remove any opacity for full visibility */
}

/* Style for the links to make them stand out */
.footer-links a {
  color: #333; /* Same dark color for text visibility */
  text-decoration: none; /* Removes underline from links */
  padding: 0 10px; /* Adds spacing around links */
}

/* Hover effect for links to indicate interactivity */
.footer-links a:hover {
  text-decoration: underline; /* Adds underline on hover */
}
