
<!-- Start of the header -->
<header class="header">
  <!-- Logo -->
  <a routerLink="/" class="logo">
    <img src="assets/mainLogo1.png" alt="Gonggan Logo" />
  </a>

  <!-- Navigation Links -->
  <nav>
    <ul class="navigation">
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/our-venues">Our Venues</a></li>
      <li><a routerLink="/events">Events</a></li>
      <li><a routerLink="/contact">Contacts</a></li>
      <li><a routerLink="/make-reservation">Make a Reservation</a></li>
    </ul>
  </nav>

  <!-- Right side of the header, for example, user profile or reservation button -->
  <div class="header-right">
    <!-- Show 'My Page' and 'Log out' if a user is logged in -->
    <ng-container *ngIf="(authService.currentUser | async)">
      <button (click)="goToUserRequests()" class="right-button">My Page</button>
      <button (click)="onLogout()" class="right-button">Log out</button>
    </ng-container>

    <!-- Show 'Admin Logout' if an admin is logged in -->
    <ng-container *ngIf="(isAdminLoggedIn$ | async)">
      <button (click)="onAdminLogout()" class="right-button admin-logout-button">Admin Logout</button>
    </ng-container>

    <!-- Show 'Log In' and 'Sign Up' buttons if no user is logged in -->
    <ng-container *ngIf="!(authService.currentUser | async) && !(isAdminLoggedIn$ | async)">
      <a routerLink="/u-login" class="right-button">Log In</a>
      <a routerLink="/signup" class="right-button">Sign Up</a>
    </ng-container>

    <!-- Show 'Admin' button for logged-in non-admin users and visitors -->
    <a *ngIf="!(isAdminLoggedIn$ | async)" routerLink="/admin-login" class="right-button">Admin</a>
  </div>
</header>

  <!-- End of the header -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-links">
      <a href="https://twitter.com/gonggan">Twitter</a>
      <a href="https://facebook.com/gonggan">Facebook</a>
      <a href="https://instagram.com/gonggan">Instagram</a>
    </div>
    <div class="footer-credits">
      <p>© 2023 Gonggan. All rights reserved.</p>
    </div>
  </div>
</footer>

