.reservation-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  position: relative; /* for absolute positioning of the message */
}

.success-message {
  position: absolute;
  top: -50px; /* Adjust as needed */
  left: 0;
  right: 0;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #d6e9c6;
}

.reservation-container h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.reservation-form {
  display: grid;
  grid-gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group input[type="time"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
}

.btn-primary {
  background-color: #003300;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: fit-content;
  margin: 2rem auto 0; /* 상단에 2rem의 마진을 추가하고, 나머지는 자동으로 설정 */
}

.btn-primary:hover {
  background-color: #ff9900;
}
